# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# esbuild directories
.esbuild

# environment variables
.env

# notes
*.txt

generated/

.dccache
tests
coverage
babel.config.js
jest.config.js