Hi,
<br/>
Last sprint ({{sprintStartWeek}}+{{sprintEndWeek}} / {{sprintYear}}) {{name}}'s percetange of billable hours was: {{percentage}}%.
<br/><br/>
You should investigate what has happened!
<br/><br/>
<em>Kind regards,
    <br/><blockquote>
    Meta-Assistant, 
    <br/>
    your friendly company bot.</em></blockquote>
<br/><br/>
This is an automated billing report, please do not respond.